/*
Theme Name: Mag
Description: Adds support for languages written in a Right To Left (RTL) direction.

-----------------------------------------------------------------

	01.	Base Styles
	02.	Structure
	03.	Header
	04.	Menu
	05.	Content
	06.	Images
	07.	Comments
	08.	Footer
	09.	Widgets
	10.	Plugins
	11.	Responsive

-----------------------------------------------------------------*/


/*---------------------------------------------------------------*/
/* 01. Base Styles 
/*---------------------------------------------------------------*/


/* Definition list */

dt {
	float: right;
	clear: right;
	text-align: left;
}

dd {
	margin: 0 150px 0 0;
}


/* Blockquote */

blockquote p:before {
	right: 50%;
	margin-right: -22px;
	left: auto;
	margin-left: auto;
}

blockquote cite:before {
	padding-left: 5px;
	padding-right: 0;
}


/* List style */

ul, ol {
	margin-right: 1.8em;
	margin-left: auto;
}

ol, ul.square, ul.circle, ul.disc, ul {
	margin-right: 30px;
	margin-left: auto;
}

ul ul, ul ol, ol ol, ol ul {
	margin: 4px 30px 5px 0;
}


/* Table style */

caption, th, td {
	text-align: right;
}


/*---------------------------------------------------------------*/
/* 02. Structure
/*---------------------------------------------------------------*/

#content.float-right {
	padding-left: 60px;
	padding-right: 0;
}

#content.float-left {
	padding-right: 60px;
	padding-left: 0;
}


/*---------------------------------------------------------------*/
/* 03. Header
/*---------------------------------------------------------------*/


/* Top area */

#top-bar #topleft-widget-area {
	float: left;
}

#top-bar #topright-widget-area {
	float: right;
}


/* Overlay sidebar */

.overlay-sidebar-close {
	left: 35px;
	right: auto;
}

.overlay-sidebar-close span {
	left: 0;
	right: auto;
}

#overlay-sidebar-wrapper {
	right: 0;
	left: auto;
}

#overlay-sidebar-inner {
	text-align: right;
}

@media (min-device-width: 1025px) {
	body.noscroll {
		padding-left: 17px;
		padding-right: 0;
	}
}


/* Logo */

#site-logo {
	float: right;
	margin-left: 40px;
	margin-right: auto;
}


/* Mobile header style */

#mobile-site-header #mobile-site-logo {
	right: 32px;
	left: auto;
}

#mobile-site-header #mobile-site-logo {
	float: right;
}

#mobile-site-header .toggle-mobile-menu {
	float: left;
	left: 32px;
	right: auto;
}


/* Header search */

.header-search {
	right: 0;
	left: 0;
}

.header-search .toggle-header-search {
	left: 0;
	right: auto;
}

.header-search .toggle-header-search span {
	left: 0;
	right: auto;
}


/*---------------------------------------------------------------*/
/* 04. Menu
/*---------------------------------------------------------------*/

#site-navigation .menu-container {
	float: right;
}

#site-navigation .menu-container-2 {
	float: left;
	padding-right: 25px;
	padding-left: 0;
}

#site-navigation ul li {
	float: right;
	padding: 0 0 0 25px;
}

#site-navigation ul li i {
	margin-left: 5px;
	margin-right: auto;
}

#site-navigation ul li.menu-item-has-children > a {
    padding-left: 17px;
	padding-right: 0;
}

#site-navigation ul li.menu-item-has-children > a:after {
    display: none;
}

#site-navigation ul li.menu-item-has-children > a:before {
    content: '\f0dd';
	font-family: FontAwesome;
	font-size: 12px;
	position: absolute;
	top: -2px;
	left: 0px;
	padding-right: 10px;
	padding-left: 2px;
}


/* Sub-level */

#site-navigation ul li ul {
    right: -10px;
	left: auto;
	transform-origin: 85% top 0;
}

#site-navigation ul li ul li ul {
    right: 210px;
	left: auto;
}

#site-navigation ul li ul li ul li a {
    padding-left: 20px;
}

#site-navigation ul li ul li.menu-item-has-children > a {
    padding-left: 20px;
}

#site-navigation ul li ul li.menu-item-has-children > a:before {
	content: '\f0d9';
	font-family: FontAwesome;
	font-size: 12px;
	position: absolute;
	left: 20px;
	top: 50%;
	margin-top: -7px;
}

#site-navigation ul li.megamenu ul li a:before {
	display: none;
}

/* Side menu toggle (hamburger icon) */

.menu-toggle-wrapper {
	float: right;
}

.toggle-main-menu span {
	right: 0;
	left: auto;
}

.toggle-main-menu.open span:nth-child(1) {
	right: 0;
	left: auto;
}

.toggle-main-menu.open span:nth-child(2) {
	right: 0;
	left: auto;
}

#header-container .menu-toggle-wrapper {
	margin-right: 25px;
	margin-left: auto;
}

#site-navigation-side .menu-toggle-wrapper {
	left: 10px;
	right: auto;
}

#side-menu-bg {
	right: 0;
	left: auto;
}

#site-navigation-overlay .menu-toggle-wrapper {
	left: 20px;
	right: auto;
}


/* Side menu */

#site-navigation-side {
	left: 0;
	right: auto;
	-webkit-transform: translate(-100%, 0);
	transform: translate(-100%, 0);
}

#site-navigation-side .menu-container ul li i {
	margin-left: 5px;
	margin-right: auto;
}

#site-navigation-side.side-menu-active {
	-webkit-transform: translate(0%, 0);
	transform: translate(0%, 0);
}


/* Site links */

.site-links {
	float: left;
}

.site-links .search_button {
	float: right;
}

.site-links .search_button {
	margin-right: 24px;
	margin-left: auto;
}

.overlay-toggle-wrapper {
	float: right;
	margin-right: 24px;
	margin-left: auto;
}

.toggle-overlay-sidebar>span {
	right: 0;
	left: auto;
}

.toggle-overlay-sidebar>span:after {
	left: -9px;
	right: auto;
}


/* Mega menu */

#site-navigation ul > li.megamenu > ul > li {
    border-left: 1px solid rgba(0,0,0,0.05);
	border-right: none;
}

#site-navigation ul > li.megamenu > ul > li:last-child {
    border-left: none;
	border-right: none;
}

#site-navigation ul li.megamenu ul li ul {
    right: 0;
	left: auto;
}


/* Mega menu (tabs) */

#site-navigation ul li.megamenu-tabs>ul.sub-menu {
	right: 0px;
	left: auto;
}

#site-navigation ul li.megamenu-tabs .submenu-content .tabs-nav {
	border-left: 1px solid rgba(0, 0, 0, 0.04);
	margin-left: auto;
	border-right: none;
}

#site-navigation ul li.megamenu-tabs .submenu-content .tabs-nav li a {
	padding: 10px 0px 10px 30px;
	text-align: left;
}

#site-navigation ul li.megamenu-tabs .submenu-content .tabs-content-wrapper {
	margin: 0 180px 0 0;
	padding: 0 30px 0 0;
}

#site-navigation ul li.megamenu-tabs.no-tabs .submenu-content .tabs-content-wrapper {
	margin-right:0px;
	right: 0px;
	left: auto;
}

#site-navigation ul li.megamenu-tabs ul li ul {
	right: 0px;
	left: auto;
}

#site-navigation ul li.megamenu-tabs.no-spacing .submenu-content {
	padding-left: 0px;
	padding-right: 30px;
}


/* Mobile menu */

#mobile-site-navigation {
	left: 0;
	right: auto;
	-webkit-transform: translate(-100%, 0);
	transform: translate(-100%, 0);
}

#mobile-site-navigation.mobile-menu-active {
	-webkit-transform: translate(-100%, 0);
	transform: translate(-100%, 0);display:block;
}
	
#mobile-menu-bg.mobile-menu-active {
	background: transparent;
	visibility: hidden;
	transition: background-color 0.3s ease-in 0.2s, visibility 0s linear 0.5s;
}

#mobile-site-navigation .mobile-menu-header i {
	margin-left: 25px;
	float: left;
	margin-right: auto;
}

#mobile-site-navigation .mobile-menu-heading {
	margin-right: 30px;
	margin-left: auto;
}

#mobile-site-navigation ul.menu li>a {
	padding: 16px 30px 16px 10px;
}

#mobile-site-navigation ul li.menu-item-has-children>span {
	left: 18px;
	right: auto;
}

#mobile-site-navigation ul li.menu-item-has-children>span:before {
	padding-right: 1px;
	padding-left: 0;
}

#mobile-site-navigation ul li.menu-item-has-children ul {
	margin-right: 30px;
	border-right: 1px solid #eee;
	margin-left: auto;
	border-left: none;
}

#mobile-menu-bg {
	right: 0;
	left: auto;
}

#mobile-menu-bg.mobile-menu-active {
	visibility: visible;
	background-color: rgba(0, 0, 0, 0.7);
	transition-delay: 0s;
	-webkit-transition-delay: 0s;
}


/*---------------------------------------------------------------*/
/* 05. Content
/*---------------------------------------------------------------*/


/* Archive layout */

.archive-layout .entry-title>a:first-child {
	margin-left: 15px;
	margin-right: auto;
}

.archive-layout .entry-title a:only-child {
	margin-left: 0px;
	margin-right: auto;
}

.archive-container, .results-container {
	margin-right: -15px;
	margin-left: -15px;
}

.archive-layout.layout-two-column:nth-child(odd) {
	float: right;
}

.archive-layout.layout-two-column:nth-child(even) {
	float: left;
}

.archive-layout.layout-three-column {
	float: right;
}


/* Background image fix for IE */

.archive-style-2 .post-content-wrapper {
	right: 10px;
	left: 10px;
}

.archive-style-2 .entry-title, .archive-style-2 .entry-category, .archive-style-2 .entry-meta-blog, .archive-style-2 .entry-content p, .archive-style-2 .entry-summary p, .archive-style-2 .mp-rating-wrapper {
	right: 0;
	left: auto;
}

.archive-style-2 .entry-content.has-more p:nth-last-child(2) {
	margin-left: 10px;
	margin-right: auto;
}


/* Posts - Layout 3 - image left */

.archive-style-3 .post-preview {
	float: right;
}

.archive-style-3 .post-content-wrapper {
	margin-right: 42%;
	margin-right: calc(40% + 30px);
	margin-left: auto;
}


/* Video & Gallery format */

.archive-layout .post-format-badge {
	padding: 0 0 0 10px;
	right: 10px;
	left: auto;
}

.archive-layout .post-format-badge i {
	float: right;
	margin-left: 10px;
	margin-right: auto;
}


/* Single post layout */

.single-post .entry-title>span:first-child, .single-post .entry-title>a:first-child, .attachment .entry-title>span:first-child, .attachment .entry-title>a:first-child {
	margin-left: 15px;
	margin-right: auto;
}

.single-post .entry-title span:only-child, .single-post .entry-title>a:only-child, .attachment .entry-title span:only-child, .attachment .entry-title>a:only-child {
	margin-left: 0px;
	margin-right: auto;
}

.entry-header-overlay {
	padding-right: inherit;
	padding-left: inherit;
	right: 0;
	left: 0;
}

.single-layout .article-labels, .single-post .entry-header-overlay .article-labels {
	left: auto;
	right: auto;
}

.single-layout .mnky-featured-image-caption, .single-post .mnky-featured-image-caption-header {
	text-align: left;
}


/* Meta */

.entry-meta {
	float: right;
}

.entry-meta-blog>a:first-child {
	margin-left: 10px;
	margin-right: auto;
}

.entry-meta-blog>a:only-child {
	margin-left: 0px;
	margin-right: auto;
}

.entry-meta-interaction-blog>span, .entry-interaction-meta>span {
	margin-left: 15px;
	margin-right: auto;
}

.entry-meta-interaction-blog>span:last-child, .entry-interaction-meta>span:last-child {
	margin-left: 0px;
	margin-right: auto;
}

.entry-meta-interaction-blog .icon-comments, .entry-interaction-meta .icon-comments {
	margin-left: 2px;
	margin-right: auto;
}

.entry-meta-interaction-blog .icon-views, .entry-interaction-meta .icon-views {
	margin-left: 2px;
	margin-right: auto;
}

#post-header-sidebar {
	float: left;
}

.meta-author-image {
	float: right;
	margin-left: 15px;
	margin-right: auto;
}

.tag-links span a {
	margin-left: 5px;
	margin-right: auto;
}

.tag-links span a:after {
	margin-right: 0;
	margin-left: auto;
}

.article-labels {
	left: 10px;
	right: auto;
}

.article-labels span {
	margin-left: 5px;
	margin-right: auto;
}

.article-labels span:only-child, .article-labels span:last-child {
	margin-left: 0;
	margin-right: auto;
}


/* Pagination */

.pagination a.next {
	margin-right: 7px;
	margin-left: auto;
}

.pagination a.prev {
	margin-left: 7px;
	margin-right: auto;
}


/* Review */

.rating-bar {
	float: left;
}

.rating-bar-value:after {
	float: left;
}

.rating_aspect_value {
	float: right;
	padding-left: 10px;
	padding-right: 0;
}

.rating_aspect_value .rating-name {
	margin-left: 10px;
	margin-right: auto;
}

.rating_summary {
	float: right;
}

.rating-stars-wrapper {
	float: left;
}

.rating-stars {
	float: left;
}


/* Sticky post */

.sticky .entry-title:after {
	float: left;
}


/* Chat format */

.format-chat p {
	padding: 10px 40px 10px 10px;
}

.format-chat p:before {
	margin-right: -27px;
	margin-left: 8px;
}


/* Password protected post */

.post-password-form label input {
	margin-right: 10px;
	margin-left: 10px;
}


/* Next and previous links */

.mnky-post-links .previous-post-link {
	float: right;
}

.mnky-post-links .next-post-link {
	float: left;
}


/* Page links */

.page-links span.page-links-title {
	margin-left: 10px;
	margin-right: auto;
}

.styled-paging {
    margin-right: 0px;
	margin-left: auto;
}


/* Author info */

#wrapper .author img {
	float: right;
}

#wrapper .author .author-info a {
	margin-right: 10px;
	margin-left: auto;
}

#wrapper .author .fn, #wrapper .author .author-info {
	margin-right: 130px;
	margin-left: auto;
}


/* Text meant only for screen readers. */

.screen-reader-text:focus {
	right: 5px;
	left: auto;
}


/*---------------------------------------------------------------*/
/* 06. Images
/*---------------------------------------------------------------*/


/* WordPress Gallery */

.gallery-item {
	float: right;
}

.gallery-item a:after {
	right: 0;
	left: auto;
}

.gallery-columns-2 .gallery-item {
	margin-left: 1%;
	margin-right: auto;
}

.gallery-columns-2 .gallery-item:nth-child(2n) {
	margin-left: 0;
	margin-right: auto;
}

.gallery-columns-3 .gallery-item {
	margin-left: .5%;
	margin-right: auto;
}

.gallery-columns-3 .gallery-item:nth-child(3n) {
	margin-left: 0;
	margin-right: auto;
}

.gallery-columns-4 .gallery-item {
	margin-left: .666%;
	margin-right: auto;
}

.gallery-columns-4 .gallery-item:nth-child(4n) {
	margin-left: 0;
	margin-right: auto;
}

.gallery-columns-5 .gallery-item {
	margin-left: .625%;
	margin-right: auto;
}

.gallery-columns-5 .gallery-item:nth-child(5n) {
	margin-left: 0;
	margin-right: auto;
}

.gallery-columns-6 .gallery-item {
	margin-left: .8%;
	margin-right: auto;
}

.gallery-columns-6 .gallery-item:nth-child(6n) {
	margin-left: 0;
	margin-right: auto;
}

.gallery-columns-7 .gallery-item {
	margin-left: .333%;
	margin-right: auto;
}

.gallery-columns-7 .gallery-item:nth-child(7n) {
	margin-left: 0;
	margin-right: auto;
}

.gallery-columns-8 .gallery-item {
	margin-left: .57%;
	margin-right: auto;
}

.gallery-columns-8 .gallery-item:nth-child(8n) {
	margin-left: 0;
	margin-right: auto;
}

.gallery-columns-9 .gallery-item {
	margin-left: .687%;
	margin-right: auto;
}

.gallery-columns-9 .gallery-item:nth-child(9n) {
	margin-left: 0;
	margin-right: auto;
}

.gallery-caption {
	right: 0;
	text-align: right;
	left: auto;
}


/*---------------------------------------------------------------*/
/* 07. Comments
/*---------------------------------------------------------------*/


/* Comment list */

#comments .comment-list .children {
	padding-right: 30px;
	padding-left: 0;
}

#comments .comment-body {
	padding: 0 80px 30px 0;
}

#comments .comment-author img {
	float: right;
	margin-left: 20px;
	margin-right: auto;
}

#comments .comment-meta .comment-metadata .edit-link:before {
	margin-right: 10px;
	margin-left: 10px;
}

#comments .reply {
	left: 40px;
	right: auto;
}

#comments .comment-reply-link:before {
	margin-left: 10px;
	margin-right: auto;
}

#comments .comment-navigation .nav-next {
	float: left;
}

#comments .nav-previous a:before {
	margin-right: 1px;
	margin-left: auto;
}

#comments .nav-next a:after {
	margin-right: 7px;
	margin-left: 1px;
}


/* Pingbacks and trackbacks */

#comments .pingback .comment-body:before {
	padding-left: 8px;
	padding-right: 0;
}


/* Comment form */

#comments h3.comment-reply-title #cancel-comment-reply-link {
	float: left;
	margin-left: 2px;
	margin-right: auto;
}

#comments h3.comment-reply-title #cancel-comment-reply-link:before {
	margin-left: 10px;
	margin-right: auto;
}


/*---------------------------------------------------------------*/
/* 08. Footer
/*---------------------------------------------------------------*/


/* Scroll to top button */

.scrollToTop {
	left: 15px;
	right: auto;
}


/*---------------------------------------------------------------*/
/* 09. Widgets
/*---------------------------------------------------------------*/


/* Default widget style */

.widget ul ul li {
	margin-right: 10px;
	padding-right: 0;
	padding-left: 0;
	margin-left: auto;
}


/* Copyright widget style */

.site-info .recentcomments {
	padding-right: 10px;
	padding-left: 0;
}

.site-info .recentcomments:first-child {
	padding-right: 0;
	padding-left: 0;
}

.site-info ul li {
	margin-left: 10px;
	margin-right: auto;
}

.site-info ul li:last-child {
	margin-left: 0;
	margin-right: auto;
}

#site-footer .site-info ul ul {
	margin-right: 10px;
	margin-left: auto;
}

.site-info ul ul li {
	margin-right: 0;
	margin-left: auto;
}


/* Top bar widget style */

#top-bar .widget {
	margin: 0 0 0 50px;
}

#top-bar .widget:last-child {
	margin-left: 0;
	margin-right: auto;
}

#top-bar .recentcomments {
	padding-right: 10px;
	padding-left: 0;
}

#top-bar .recentcomments:first-child {
	padding-right: 0;
	padding-left: 0;
}

#top-bar ul li {
	margin-left: 10px;
	margin-right: auto;
}

#top-bar ul li:last-child {
	margin-left: 0;
	margin-right: auto;
}

#top-bar ul ul {
	margin-right: 10px;
	margin-left: auto;
}

#top-bar ul ul li {
	margin-right: 0;
	margin-left: auto;
}


/* Mobile header widget style */

#mobile-header-sidebar {
	left: 90px;
	right: auto;
}


/* SINGLE WIDGET STYLES */


/* Category & Archive Widget */

.widget_archive ul li, .widget_categories ul li {
	text-align: left;
}

.widget_archive a, .widget_categories a {
	float: right;
}


/* WP Menu Widget */

#sidebar .widget.widget_nav_menu ul li.current-menu-item a {
	border-left: 2px solid #ddd;
	border-right: none;
}

#sidebar .widget.widget_nav_menu ul li ul {
	padding-right: 8px;
	padding-left: 0;
}

#sidebar.float-left .widget.widget_nav_menu ul li.current-menu-item a {
	border-left: none;
	border-right: 2px solid #ddd;
}

#top-bar .widget_nav_menu ul li:hover>a {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

#top-bar .widget_nav_menu ul li ul {
	margin-right: 0px;
	right: 0;
	left: auto;
	margin-left: auto;
}

#top-bar .widget_nav_menu ul li a:after {
	left: 15px;
	right: auto;
}


/* WP Calendar */

#wp-calendar caption {
	text-align: left;
}

#wp-calendar tfoot #next {
	text-align: left;
	padding-left: 10px;
	padding-right: 0;
}

#wp-calendar tfoot #prev {
	padding-right: 10px;
	padding-left: 0;
}


/* Newsletter */

.newsletter input, .newsletter button {
	float: right;
}

.newsletter button i {
	margin-left: 5px;
	margin-right: auto;
}

.newsletter input[type="submit"], .newsletter button {
	margin-right: -2px;
	border-right-color: transparent;
	margin-left: auto;
}


/*---------------------------------------------------------------*/
/* 10. Plugins
/*---------------------------------------------------------------*/


/* CONTACT FORM 7 */

.wpcf7 input.wpcf7-file {
	padding-right: 0;
	padding-left: 10px;
}


/* Contact form 7 loader style */

div.wpcf7 .ajax-loader {
	margin-right: 20px;
	margin-left: auto;
}


/* Contact form 7 message boxes */

span.wpcf7-not-valid-tip:before {
	margin-left: 10px;
	margin-right: auto;
}


/* Easy Social Share Buttons */

.post-header-widget-area .essb_links {
    margin: 5px 0 0 -5px;
}

.post-header-widget-area .essb_links .essb_totalcount_item .essb_t_l_big {
    margin-left: 15px;
	margin-right: auto;
}


/* Social Comments */

#social_comments_control ul li img {
	padding-left: 10px;
	padding-right: 0;
}

.ui-tabs#social_comments_control .ui-tabs-nav li:first-child a {
	padding-right: 0;
	padding-left: 0;
}


/*---------------------------------------------------------------*/
/* 11. Responsive
/*---------------------------------------------------------------*/

/*
* -------------------------------------------------------------------------------------------
* ALL DEVICES STARTING 1200PX (DEFAULT CONTENT WIDTH)
* -------------------------------------------------------------------------------------------
*/

@media only screen and (max-width: 1200px) {
	/* Auxiliary class */
	.mag-hide-on-1200 {
		display: none;
	}
	/* Article header */
	.entry-meta {
		float: none;
		width: 100%;
	}
	#post-header-sidebar {
		float: none;
		width: 100%;
		margin-bottom: 35px;
	}
	/* Article archives*/
	.with-sidebar .archive-layout.layout-three-column {
		width: 50%;
	}
	.with-sidebar .archive-layout.layout-three-column:nth-child(odd) {
		float: right;
		clear: both;
	}
	.with-sidebar .archive-layout.layout-three-column:nth-child(even) {
		float: left;
	}
	.with-sidebar .archive-layout.layout-three-column:nth-child(3n+1) {
		clear: none;
	}

}


/*
* -------------------------------------------------------------------------------------------
* ALL DEVICES INCLUDING TABLET LANDSCAPE
* -------------------------------------------------------------------------------------------
*/

@media only screen and (max-width: 1024px) {
	/* General */
	body {
		-webkit-text-size-adjust: none;
	}
}


/*
* -------------------------------------------------------------------------------------------
* TABLET LANDSCAPE ONLY
* -------------------------------------------------------------------------------------------
*/

@media only screen and (min-width: 980px) and (max-width: 1024px) {}


/*
* -------------------------------------------------------------------------------------------
* ALL DEVICES STARTING TABLET PORTRAIT
* -------------------------------------------------------------------------------------------
*/

@media only screen and (max-width: 979px) {
	/* Auxiliary class */
	.mag-hide-on-tablet {
		display: none;
	}
	/* Header */
	#mobile-site-logo, #mobile-site-logo img {
		display: inline-block;
	}
	#header-container {
		text-align: center;
	}
	.pre-content-html {
		height: 380px !important;
	}
	.single-post .entry-title {
		font-size: 40px;
	}
	/* Navigation */
	#site-header {
		position: relative;
	}
	#site-header, #top-bar-wrapper {
		display: none;
	}
	#mobile-site-header {
		display: block;
		position: relative;
	}
	#mobile-site-navigation.mobile-menu-active {
		-webkit-transform: translate(0%, 0);
		transform: translate(0%, 0);
		/*-webkit-transform: translate(-100%, 0);
		transform: translate(-100%, 0);*/display:block;
	}
	/* Article archives*/
	.archive-layout.layout-three-column {
		width: 50%;
	}
	.archive-layout.layout-three-column:nth-child(odd) {
		float: right;
		clear: both;
	}
	.archive-layout.layout-three-column:nth-child(even) {
		float: left;
	}
	.archive-layout.layout-three-column:nth-child(3n+1) {
		clear: none;
	}
	/* Sidebar layout change */
	#content.float-left, #content.float-right, #sidebar {
		width: 100%;
		padding: 0;
	}
	#sidebar.float-right, #sidebar.float-left {
		margin: 60px 0 0;
	}
	/* Footer */
	.vc_responsive .footer-sidebar .vc_col-sm-3, .vc_responsive .footer-sidebar .vc_col-sm-4, .vc_responsive .footer-sidebar .vc_col-sm-6 {
		margin-bottom: 50px;
	}
	.vc_responsive .footer-sidebar .vc_col-sm-3:last-child, .vc_responsive .footer-sidebar .vc_col-sm-4:last-child, .vc_responsive .footer-sidebar .vc_col-sm-6:last-child {
		margin-bottom: 0;
	}
	/* WordPress gallery */	
	.gallery-columns-3 .gallery-item:nth-child(n) {
    margin-left: .5%;
	margin-right: auto;
	}
	/* Columns become 2 in footer */
	.vc_responsive .footer-sidebar .vc_row .vc_col-sm-3, .vc_responsive .footer-sidebar .vc_row.row_two .vc_col-sm-3, .vc_responsive .footer-sidebar .vc_row .vc_col-sm-4, .vc_responsive .footer-sidebar .vc_row.row_two .vc_col-sm-4, .vc_responsive .footer-sidebar .vc_row .vc_col-sm-6, .vc_responsive .footer-sidebar .vc_row.row_two .vc_col-sm-6 {
		width: 50%;
	}
	.vc_responsive .footer-sidebar .vc_row .vc_col-sm-3:nth-child(3), .vc_responsive .footer-sidebar .vc_row.row_two .vc_col-sm-3:nth-child(3), .vc_responsive .footer-sidebar .vc_row .vc_col-sm-4:nth-child(3), .vc_responsive .footer-sidebar .vc_row.row_two .vc_col-sm-4:nth-child(3) {
		clear: right;
	}
}


/*
* -------------------------------------------------------------------------------------------
* TABLET PORTRAIT ONLY
* -------------------------------------------------------------------------------------------
*/

@media only screen and (min-width: 768px) and (max-width: 979px) {
	/* Footer */
	.vc_responsive .footer-sidebar .vc_col-sm-3:nth-child(3), .vc_responsive .footer-sidebar .vc_col-sm-6:first-child {
		margin-bottom: 0;
	}
	/* WordPress gallery */
	.gallery-columns-1 .gallery-item {
		max-width: 100%;
		min-width: 100%;
	}
	.gallery-columns-2 .gallery-item, .gallery-columns-3 .gallery-item, .gallery-columns-4 .gallery-item, .gallery-columns-5 .gallery-item, .gallery-columns-6 .gallery-item, .gallery-columns-7 .gallery-item, .gallery-columns-8 .gallery-item, .gallery-columns-9 .gallery-item {
		min-width: 48%;
		max-width: 48px;
	}
}


/*
* -------------------------------------------------------------------------------------------
* MOBILE BOTH VIEWS
* -------------------------------------------------------------------------------------------
*/

@media only screen and (max-width: 767px) {
	/* Auxiliary class */
	.mag-hide-on-mobile {
		display: none;
	}
	/* Header */
	#mobile-site-logo {
		float: right;
	}
	.page-header h1 {
		font-size: 28px;
	}
	/* Article */
	.entry-content.with-sidebar {
		width: 100%;
		padding-left: 0px;
		padding-right: 0;
	}
	.entry-content-sidebar {
		margin-top: 35px;
		width: 100%;
	}
	.single-post .entry-title {
		font-size: 30px;
	}
	.mnky-post-links .previous-post-link, .mnky-post-links .next-post-link {
		float: none;
		width: 100%;
		display: block;
	}
	.mnky-post-links .previous-post-link {
		margin-bottom: 20px;
	}
	.entry-content .alignleft, .entry-content .alignright {
		display: block;
		float: none;
	}
	.wp-caption.alignleft, .wp-caption.alignright {
		margin: 40px auto;
	}
	.wp-caption .wp-caption-text span {
		float: none;
	}
	/* Article archives*/
	.archive-layout .entry-title {
		font-size: 24px;
	}
	.archive-layout.layout-two-column:nth-child(n), .archive-layout.layout-three-column:nth-child(n) {
		width: 100%;
		float: none;
	}
	/* Review */
	.rating_aspect_value, .rating-bar, .rating_summary {
		width: 100%;
	}
	.rating-stars-wrapper, .rating-stars {
		float: none;
	}
	/* Blockquote */
	blockquote p {
		padding: 60px 20px;
	}
	/* Columns becomes 1 in footer */
	.vc_responsive .footer-sidebar .vc_row .vc_col-sm-3, .vc_responsive .footer-sidebar .vc_row.row_two .vc_col-sm-3 {
		width: 100%;
	}
	.vc_responsive .footer-sidebar .vc_row .vc_col-sm-6, .vc_responsive .footer-sidebar .vc_row.row_two .vc_col-sm-6 {
		width: 100%;
	}
	.vc_responsive .footer-sidebar .vc_row .vc_col-sm-4, .vc_responsive .footer-sidebar .vc_row.row_two .vc_col-sm-4 {
		width: 100%;
	}	
}


/*
* -------------------------------------------------------------------------------------------
* MOBILE LANDSCAPE ONLY
* -------------------------------------------------------------------------------------------
*/

@media only screen and (min-width: 480px) and (max-width: 767px) {
	/* WordPress Gallery */
	.gallery-columns-1 .gallery-item {
		max-width: 100%;
		min-width: 100%;
	}
	.gallery-columns-2 .gallery-item, .gallery-columns-3 .gallery-item, .gallery-columns-4 .gallery-item, .gallery-columns-5 .gallery-item, .gallery-columns-6 .gallery-item, .gallery-columns-7 .gallery-item, .gallery-columns-8 .gallery-item, .gallery-columns-9 .gallery-item {
		min-width: 48%;
		max-width: 48%;
	}
}


/*
* -------------------------------------------------------------------------------------------
* MOBILE PORTRAIT & LOWER
* -------------------------------------------------------------------------------------------
*/

@media only screen and (max-width: 479px) {
	/* Definition list*/
	dt {
		text-align: right;
		width: auto;
	}
	dd {
		clear: both;
		margin: 0;
	}
	/* Article */
	.single-post .entry-header-overlay .entry-title {
		font-size: 24px;
	}
	.single-post .entry-header-overlay .entry-category {
		font-size: 16px;
	}
	/* Author Bio */
	#wrapper .author .fn, #wrapper .author .author-info {
		margin-right: 0px;
		margin-left: auto;
	}
	#wrapper .author .fn {
		text-align: center;
	}
	#wrapper .author img {
		display: block;
		margin: 0 auto 20px auto;
		float: none;
	}
	/* Comment form */
	#comments .comment-list #respond {
		margin: 0 0 50px;
	}
	#comments .comment-list .children .children {
		border-right: none;
		border-left: none;
	}
	#comments .comment-body {
		padding-bottom: 50px;
	}
	#comments .comment-body footer {
		text-align: center;
		margin-bottom: 25px;
	}
	#comments .comment-author img {
		margin: 0 auto;
		float: none;
	}
	#comments .comment-author .fn {
		display: block;
		clear: both;
		margin-top: 10px;
	}
	#comments .children .comment-body {
		padding-right: 40px;
		padding-left: 0;
		padding-bottom: 50px;
	}
	#comments .comment-list .children {
		padding-right: 0;
		padding-left: 0;
	}
	#comments .reply {
		position: relative;
		left: auto;
		right: auto;
		top: auto;
		text-align: center;
		margin-top: 37px;
	}
	#comments h3.comment-reply-title #cancel-comment-reply-link {
		display: block;
		float: none;
		margin-top: 10px;
	}
	#comments ol.children li .comment-body .comment-author img {
		width: 50px;
		height: 50px;
	}
	#comments ol.children li ol li .comment-body .comment-author img {
		width: 40px;
		height: 40px;
	}
	#comments ol.children li ol li ol li .comment-body .comment-author img {
		width: 30px;
		height: 30px;
	}
	#comments ol.children li ol li ol li ol li .comment-body .comment-author img {
		width: 20px;
		height: 20px;
	}
	/* Copyright area */
	.site-info i {
		margin-bottom: 10px;
	}
	/* WordPress Gallery */
	.gallery-columns-1 .gallery-item, .gallery-columns-2 .gallery-item, .gallery-columns-3 .gallery-item, .gallery-columns-4 .gallery-item, .gallery-columns-5 .gallery-item, .gallery-columns-6 .gallery-item, .gallery-columns-7 .gallery-item, .gallery-columns-8 .gallery-item, .gallery-columns-9 .gallery-item {
		max-width: 100%;
		min-width: 100%;
	}
}


/* Made by the RTL-er.com - http://www.rtl-er.com */


/*------------------------------------------------------------------------------*/
/* THANK YOU FOR CHOOSING OUR THEME! - MNKY Studio | http://mnkythemes.com
/*------------------------------------------------------------------------------*/